#set($project=$om)
<script language="javascript">
    var server = "$content.getURI("images")/";
    var user_email = "$data.getSession().getAttribute("user").getEmail()";
</script>
#set($subject_count=$project.getSubjectCount())
#if($om.getStudyprotocol().size() >= 1)
    #set($protocol=$om.getStudyprotocol().get(0))
#end
##	<STYLE>
##	 TABLE.dataTable{
##	   cellpadding:0;
##	   cellspacing:0;
##	   width:100%;
##	   border:0;
##	 }
##	 TR.resultsHEADER{
##	   background-color:#FFFFFF;
##	 }
##	</STYLE>
<DIV id="project-page" class="yui-skin-sam" style="position: relative;">

##    <div id="tp_fm" style="display:none"></div>
    #addCustomScreens($om.getXSIType() "report/alerts")
    #addCustomScreens($om.getXSIType() "report/errors")

    <DIV class="edit_header1" style="">$!item.getStringProperty("xnat:projectData/name")</DIV>
    <BR/>
    #if($data.getSession().getAttribute("userHelper").canRead("xnat:subjectData/project","$project.getId()"))
        <script type="text/javascript" src="$content.getURI("scripts/yui/build/resize/resize-beta-min.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/yui/build/layout/layout-beta-min.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/generated/xdat_stored_search.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/generated/xdat_search_field.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/generated/xdat_criteria.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/generated/xdat_criteria_set.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/search/tabManager.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/search/saveSearch.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/search/searchManager.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/search/dataTableSearch.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/search/dataTableStoredSearch.js")"></script>
        <script type="text/javascript" src="$content.getURI("scripts/yui/xnat_loader.js")"></script>
        <!-- BEGIN SET AND PARSE SUMMARY TABS -->
        #addCustomScreens($om.getXSIType() "report/preContent")
        #set($summary_tabs=$turbineUtils.getTemplateName("_summary_tabs","xnat:projectData",$project.getId()))
        #parse($turbineUtils.getTemplateName("_summary_tabs","xnat:projectData",$project.getId()))
        <!-- END SET AND PARSE SUMMARY TABS -->


        #parse($turbineUtils.getTemplateName("_actions_box","xnat:projectData",$project.getId()))

        <div class="clear"></div>
        <br>

        #addCustomScreens($om.getXSIType() "report/preData")

        #parse($turbineUtils.getTemplateName("_bundle_tabs","xnat:projectData",$project.getId()))

        #addCustomScreens($om.getXSIType() "report/postData")
    #else
        <!--can't read data-->
        #parse($turbineUtils.getTemplateName("_summary_tabs","xnat:projectData",$project.getId()))

        <DIV id="congratsContainer" class="container" style="width:98%;margin:5px;background-color:#ff99cc;">
            <DIV id="congratsBody" class="containerBody">
                <DIV class="containerItem edit_header2" style="white-space:normal;line-height:18px">
                    <FONT size="+1">Security Warning</FONT></DIV>
                <DIV class="containerItem" style="white-space:normal;">
                    Your account has not been granted access to this $displayManager.getSingularDisplayNameForProject().toLowerCase()'s data. If you would like to view this data, you will need to request access.
                </DIV>
                <DIV class="containerItem" style="white-space:normal;">
                    &nbsp;&nbsp;&nbsp;&bull; <A href="$link.setPage("RequestProjectAccess.vm").addPathInfo(
                    "project","$!{project.getId()}").addPathInfo("popup","$!popup")">Request Access.</A></DIV>
            </DIV>
        </DIV>
    #end
    <DIV ID="temp_display"></DIV>
</DIV>
